<section class="foot">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <ul>
            <h4>Quick Link</h4>
            <li>Services</li>
            <li>About Us</li>
            <li>Contact Us</li>
          </ul>
        </div>
        <div class="col-md-3">
          <ul>
            <h4>Services</h4>
            <li>Web Development</li>
            <li>App Development</li>
            <li>Software Development</li>
            <li>Digital Marketing</li>
          </ul>
        </div>
        <div class="col-md-3">
          <ul>
            <h4>Head Office</h4>
            <li>2 nd. Floor, Mimec IT Park,
              Namkum Industrial Area, Lowadih
              Ranchi - 834010, Jharkhand</li>
            <li> +91 - 9386806214</li>
            <li> info@brightcodess.com</li>
          </ul>
        </div>
        <div class="col-md-3">
          <ul>
            <h4>Our Commitment</h4>
            <li> Quality Assurance</li>
            <li>Client Focus</li>
            <li>Dedicated Teams</li>
            <li>Unlimited Support</li>
            <li>Projects Within Deadline</li>
          </ul>
        </div>
      </div>
  </section>
  <section class="footer2">
    <div class="container">
      <div class="row">
        <div class="col-md-10">
          <h5>© Copyright 2024. All Rights Reserved.</h4>
        </div>
        <div class="col-md-2">
          <div class="icon">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-instagram"></i>
          </div>
        </div>
      </div>
    </div>
  </section>
 
 


  